<div class="row">
	
	<% @approvals.each do | a | %>
		<div class="approval-container span3">
			<table class="table approval">
				<tr>
					<td>
						<%= "On behalf of #{a.role.name}:"%>
					</td>
					<td>			
						<%= simple_form_for (a), :class => "form-search" do |f| %>
							<%= f.input :approved, :as => :hidden , :input_html => { :value => "true" } %>
							<%= f.input :closed, :as => :hidden , :input_html => { :value => "true" } %>
							<%= f.submit 'Approve', :class => "btn btn-success span2" %>
						<% end %>
						<%= simple_form_for (a), :class => "form-search" do |f| %>
							<%= f.input :approved, :as => :hidden , :input_html => { :value => "false" } %>
							<%= f.input :closed, :as => :hidden , :input_html => { :value => "true" } %>
							<%= f.submit 'Reject', :class => "btn btn-danger span2" %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	<% end %>
</div>