
<% @users.each do |user| %>
	<div class="span3">
		<table class="table table-bordered userindex">
			<tr>
				<td class="hideoverflow">
					<strong><%= link_to user.fullname, user %></strong>
				</td>
			</tr>
			<tr>
				<td class="hideoverflow">
					<%=  user.email %>
				</td>
			</tr>
			<tr>
				<td class="hideoverflow">
					<%= link_to edit_user_path(user), :class => 'btn btn-primary',"data-disable-with"=> "Please Wait..." do %>
				  			<i class="icon-pencil icon-white"></i> Edit
					<% end if can? :edit, user%>
			</tr>
			<% if can? :delete, user %>
			 <tr>
			 	<td>
					<%= simple_form_for user, :method => "delete" do  |f| %>
					<%= f.input :assignto, collection: User.all , :as => :select, label_method: :fullname, :include_blank => false, :label => "Assign existing RFC's to" %>
					<%= f.submit "Delete User", :class => "btn btn-danger", :confirm => "Are you sure? All existing RFC's will be re-assigned" %>
					<% end %>
				</td>
			</tr>
		<% end %>
		</table>
	</div>
<% end %>

<div class="span12">
	<%= will_paginate @users, :renderer => BootstrapPagination::Rails %>
</div>
