<% provide(:title, "Edit user") %> 
<h1><%= @user.fullname %></h1>
<dt>Name</dt>
	<dd><%= @user.fullname %></dd>
<dt>Email</dt>
	<dd><%= @user.email %></dd>
<dt>Roles</dt>
	<% @user.roles.each do | r | %>
	<dd>
		<%if r.approvalgroup %>
			<%= r.description %>
		<% end %>
		</dd>
	<% end %>


<% for role in Role.find(:all) %>
  <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
  <%= role.name %>
<% end %>



<%= form_for(@user) do |f| %>
	<%= render 'fields', f: f %>
	<%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
<% end %>
