<div id="reqnew" class="span12">
	<%= link_to new_role_path, class:'btn btn-success', "data-disable-with"=> "Please Wait..." do %>
		<i class="icon-plus-sign icon-white"></i> New Approval Group
		<% end %>
		<br />
		<br />
</div>
<div id="newform" class="span12">
</div>
<div class="span12">
	<table class="table table-striped table-hover">
		<tr>
			<thead>
				<th>Name</th>
				<th>Approval Group Is Mandatory</th>
				<th>Members</th>
				<th>Delete?</th>
			</thead>
		</tr>
		<tbody>
			<% @roles.each do |r| %>			
				<tr>
					<td><%= link_to r.name, edit_role_path(r) %></td>	
					<td><%= r.mandatory?  %></td>
					<td><% r.users.each do | u | %>
							<%= link_to u.fullname, edit_user_path(u) %> <br />

						<% end %>
					<td>
						<%= link_to role_path(r), :method => :delete, :class => 'btn btn-danger',"data-disable-with"=> "Deleting..." ,:confirm => "Delete approval group #{r.name}? Any RFC's seeking approval where this group is the only approval group will be approved. Any RFCs seeking where all other approvals are already approved will also be approved." do %>
			  			<i class="icon-trash icon-white icon-white"></i> Delete
			  		</td>
				<% end %>
				</tr>
				
			<% end %>
		</tbody>
	</table>
</div>
<div class="span12">
	<%= will_paginate @roles, :renderer => BootstrapPagination::Rails %>
</div>