<script type="text/javascript">
  $(document).ready(function () {
    $("[rel=tooltip]").tooltip({ placement: 'top' });
  });
</script>
<% if ["Seek Approval","Approved"].any?{|s| @rfc.status.include? s} then
 			var_disabled  = true
 	 else var_disabled = false 
 	 end %>

<div class="span12 fixed">
	<ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#What" data-toggle="tab">What</a></li>
	  <li><a href="#How" data-toggle="tab">How</a></li>
	  <li><a href="#Risks" data-toggle="tab">Risks</a></li>
	  <li><a href="#When" data-toggle="tab">When</a></li>
	  <li><a href="#Approvals" data-toggle="tab">Approvals</a></li>
	</ul>

	<div class="row fixed">
		<div class="span12 fixed">
			<%= simple_form_for(@rfc,:defaults => { :input_html => { :class => 'span12', :rows => 3 }, :disabled => var_disabled }, :html => {:class => 'form-vertical' }) do |f| %>
				<%= f.error_notification %>

			<div class="row">
				<div class="tab-content span12 fixed">
				  <div class="tab-pane active" id="What">
				  	<%= f.association :user, as: :select, :prompt => "Select Owner", label: 'Owner', :label_method => :fullname, :input_html => { :class => 'span4' ,:rel => "tooltip", :title => "Assign this RFC, if you change the owner, you may lose your ability to edit this RFC"}%>
						<%= f.input :title, :input_html => {:rel => "tooltip", :title => "Choose a brief title"} %>
						<%= f.input :objective, :wrapper_html => {:rel => "tooltip", :title => "What do you expect your RFC to achieve?"} %>
				  </div>

				  <div class="tab-pane" id="How">
			  		<%= f.input :backup, :wrapper_html => {:rel => "tooltip", :title => "How will you backup existing configuration prior to starting your change?"} %>
						<%= f.input :imp_plan, :label => "Implementation Plan" , :wrapper_html => { :rel => "tooltip", :title => "How will you implement your change?" }, :input_html => { :rows => 8 } %>


						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#prepostform">
  						<i class="icon-tasks icon-white"></i> Add Pre/Post Tasks
						</button>
 
						<div id="prepostform" class="collapse">
							<br>
							<%= f.input :pre_task, :label => "Pre-Tasks", :wrapper_html => {:rel => "tooltip", :title => "Are there any pre-requesite activies to complete prior to starting your change?"} %>
							<%= f.input :post_task, :wrapper_html => {:rel => "tooltip", :title => "Are there any activites to complete after your change has finished?"} %>
						</div>

				  </div>


				  <div class="tab-pane" id="When">
				  	<%= f.input :imp_date, :as => :ui_date_picker, label: 'Implementation Date', :input_html => {:rel => "tooltip", :title => "On which date do you propose to start your change?"} %>
				

						<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#downtimeform">
  						<i class="icon-time icon-white"></i> Downtime?
						</button>
 
						<div id="downtimeform" class="collapse">
							<br>
							<%= f.input :downtime, :input_html => {:class => "span1"} %>
							<%= f.input :downtime_start, :as => :time, :input_html => {:class => "span1",:rel => "tooltip", :title => "Will there be any customer downtime?"} %>
							<%= f.input :downtime_finish, :as => :time, :input_html => {:class => "span1",:rel => "tooltip", :title => "When will the customer downtime finish?"} %>
						</div>
				  </div>

				  <div class="tab-pane" id="Risks">
				  	<%= f.input :risk, :wrapper_html => {:rel => "tooltip", :title => "Does your change introduce any new risks? Consider both during implementation and post implementation"} %>
						<%= f.input :mitigate_risks, :wrapper_html => {:rel => "tooltip", :title => "How do you intend to mitigate these risks, consider testing and whether you have the capibility to remove any components from service"} %>
						<%= f.input :impact, :wrapper_html => {:rel => "tooltip", :title => "What impact will your change have? Consider both during implementation and post implementation"} %>
						<%= f.input :backout_plan, :wrapper_html => {:rel => "tooltip", :title => "How will you reverse your change and restore service if your change has an adverse affect?"} %>
				  </div>
				  <div class="tab-pane" id="Approvals">
				  		<%= f.input :status,:input_html => { :class => 'span4' ,:rel => "tooltip", :title => "Change the status and save to seek approval"}, :collection => get_valid_statuses(@rfc), :include_blank => false, :disabled => false  %>
				  		<%  chkbox_defaults = Role.where(:approvalgroup => true, :mandatory_appr => true).collect(&:id) %>
				  			<%= f.association :roles, as: :check_boxes,:input_html => {rows:'', class: ''}, :collection => Role.where(:approvalgroup => true, :mandatory_appr => false), :prompt => "Select Approval Groups",  label: 'Additional Approval Groups', :label_method => :name %>
				  		<small>
				  			<p class="muted">
				  				Mandatory Approval Groups:
				  				<% mandaprroles = @rfc.roles.where(:approvalgroup => true, :mandatory_appr => true) %>
				  				<ul>
				  				<% mandaprroles.each do |r| %>
				  					<%=content_tag("li",r.name,:class=>"muted") %>
				  				<% end %>
				  			</ul>
				  			</p>
				  		</small>
				  </div>
				<div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-actions row span12">
			<%= f.button :submit, 'Save RFC',"data-disable-with"=> "Please Wait!" ,:class => 'btn-primary', :disabled =>false %>
			<%= link_to "View RFC", rfc_path(@rfc), :class => "btn", :confirm => "All unsaved changes will be lost, continue?" unless @rfc.new_record?%>
		</div>
	</div>
	<% end %>
</div>


<script type="text/javascript">
	$('#rfc_objective').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});


	$('#rfc_backup').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_imp_plan').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_pre_task').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_post_task').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_risk').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});
	
	$('#rfc_mitigate_risks').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_impact').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

	$('#rfc_backout_plan').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": true, //Italics, bold, etc. Default true
		"lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": true, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false,
	});

</script>